.background#background
  .container
    .simon#simon
      .simon__color--green#simon__color--green.no-mouseaction
      .simon__color--red#simon__color--red.no-mouseaction
      .simon__center
        .center__title
          Simon<span class='trademark'>&#174;</span>
        .center__start
          .center__start--button#center__start--button
          .center__start--text
            Start<br>/End
        .center__turn
          .center__turn--display#center__turn--display
          .center__turn--text
            Turn
        .center__mode
          .center__mode--button#center__mode--button
          .center__mode--text
            Strict
      .simon__color--yellow#simon__color--yellow.no-mouseaction
      .simon__color--blue#simon__color--blue.no-mouseaction
    
